@use "base";

.card,
.card__purple {
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__purple {
  background-color: base.$primary-color;
  color: white;
  text-align: center;
}

.card__white {
  background-color: white;
  color: base.$font-color;
  position: relative;
}
